@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%); /* var(--color-slate-300) */
}


.text-slate-900 { 
  color: hsl(218, 44%, 22%); 
}

.text-slate-500 { 
  color: hsl(216, 15%, 48%); 
}
